.caja {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  justify-content: center;
  align-content: stretch; }
  .caja .caja__art {
    flex-basis: 300px;
    margin: 5px; }
    .caja .caja__art .caja__art--p1 {
      background-color: #A2A632;
      order: -1;
      flex-grow: 1;
      font-weight: bold;
      font-size: medium;
      text-align: center;
      color: black; }
  .caja .caja__art {
    background-color: #A2A632;
    order: 1;
    flex-grow: 1;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    color: black; }
  .caja .lista {
    text-align: left; }

.tabla1 {
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: solid;
  border-width: medium;
  text-align: center; }
  .tabla1 .tabla1__elemento {
    color: black;
    text-align: center;
    font-weight: bold; }

.ubicacion {
  width: 100%;
  padding: 10px; }
  .ubicacion .ubicacion__gma {
    color: black;
    font-weight: bold;
    text-align: center; }

.grid-container {
  margin: 20px auto;
  width: 95%;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  text-align: center;
  justify-content: stretch;
  font-size: 1.5rem;
  grid-template-areas: "especial dos cuatro" "especial seis seis"; }

.especial {
  grid-area: especial;
  background-color: #A6A051;
  padding: 1rem; }
  .especial p {
    color: black;
    text-align: center;
    font-weight: bold; }

.dos {
  grid-area: dos;
  background-color: #A6A051;
  padding: 1rem; }
  .dos p {
    color: black;
    text-align: center;
    font-weight: bold; }

.cuatro {
  grid-area: cuatro;
  background-color: #A6A051;
  padding: 1rem; }
  .cuatro p {
    color: black;
    text-align: center;
    font-weight: bold; }

.seis {
  grid-area: seis;
  background-color: #A6A051;
  padding: 1rem; }
  .seis p {
    color: black;
    text-align: center;
    font-weight: bold; }

@media only screen and (max-width: 768px) {
  .padre {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, fr);
    grid-template-areas: "especial" "dos" "cuatro" "seis"; } }

header .mimenu {
  background-color: #BFAE99; }
  header .mimenu .mimenu__tituloP {
    text-transform: uppercase;
    padding: 1%;
    margin: 1%;
    font-weight: bold;
    font-size: 150%; }
  header .mimenu .mimenu--miItem {
    color: black;
    font-weight: bold; }

.miFooter {
  background-color: #BFAE99;
  color: black;
  font-weight: bold; }
  .miFooter .miFooter__tituloP {
    text-transform: uppercase;
    padding: 1.5%;
    font-weight: bold;
    font-size: 150%; }
  .miFooter .boton {
    background-color: #A6A051;
    font-weight: bold; }

h1 {
  color: #A2A632;
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
  padding: 10px; }

/*CONTACTOS */
.formulario {
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  align-content: left;
  border: solid 0.5px black;
  margin: 1%;
  background-color: #A2A632;
  font-weight: bold;
  font-size: 15px; }
  .formulario .campos {
    margin: 4px;
    flex-basis: 300px; }

/*Galeria*/
main {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  justify-content: space-around;
  align-content: center;
  align-items: center; }
  main .galeria {
    width: 500px;
    height: 512px;
    opacity: 3;
    border: 2px double; }

.galeria--cartel:hover {
  transform: scale(1.1, 1.1);
  transition: all 2s ease; }

.galeria--pileta:hover {
  transform: scale(1.1, 1.1);
  transition: all 2s ease; }

.galeria--algibe:hover {
  transform: scale(1.1, 1.1);
  transition: all 2s ease; }

.carrousel {
  display: block;
  margin: auto;
  width: 1000px;
  height: 500px; }

@media only screen and (max-width: 760px) {
  h1 {
    font-size: 10px; } }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: large; } }

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: medium; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F2F2F2;
  font-family: 'Montserrat', sans-serif; }

h3 {
  color: black;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 4%; }
