
/*CONTACTOS */
.formulario{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content:right;
    border: solid 1px black;
    margin:1%;
    background-color: #d99c79;
    font-weight: bold;
    font-size: 15px;
    .campos{
        margin: 4px;
        flex-basis: 300px;
    }
}
