$bggrid:#be7e5d;

@mixin grill($grid){
    grid-area:$grid;
    background-color: $bggrid;
    padding: 1rem;
    p{
        color: black;
        text-align: center;
    }

}

.grid-container{
    margin: 20px auto;
    width:95%;
    height: 450px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr ;
    gap:50px;
    text-align:center;
    justify-content: stretch;
    font-size: 1.5rem;
    grid-template-areas: 
        "especial dos cuatro"
        "especial seis seis";
}


.especial{
    @include grill(especial);
}

.dos{
    @include grill(dos);
}


.cuatro{
    @include grill(cuatro);
}


.seis{
    @include grill(seis);
}

@media only screen and (max-width:768px){
    .padre{
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, fr);
        grid-template-areas:
        "especial"
        "dos"
        "cuatro"
        "seis";
    }

}
