header{
    .mimenu{
        background-color:#ddc654;
        .mimenu__tituloP{
            text-transform: uppercase;
            padding: 1%;
            margin: 1%;
            font-weight: bold;
            font-size:150%;
        }
        .mimenu--miItem{
            color:black;
            font-weight: bold;
        }
    }
    

}

.miFooter{
    background-color:#ddc654;
    color: black;
    font-weight: bold;
    .miFooter__tituloP{
        text-transform: uppercase;
        padding: 1.5%;
        font-weight: bold;
        font-size:150%;
    }
}

h1{
    color: #5e8c7f;
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight:bold;
    margin: 10px;
    padding: 10px;
}