@import "section";
@import "grilla";
@import "header";
@import "formulario";
@import "imagenes";
@import "responsive";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#c7b6a7;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: black;
    font-size: larger;
    text-align: center;
    text-decoration: underline;
}
